{% load unicorn %}
{%load static%}
{%load utils%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% unicorn_scripts %}
    <link rel="stylesheet" href="{%static 'css/output.css'%}">
    <title>Chat Online</title>
</head>
<body>
    <!-- component -->
<div class="flex h-screen antialiased text-gray-800">
    <div class="flex flex-row h-full w-full overflow-x-hidden">
      <div class="flex flex-col py-8 pl-6 pr-2 w-64 bg-white flex-shrink-0">
        <div class="flex flex-row items-center justify-center h-12 w-full">
          <div
            class="flex items-center justify-center rounded-2xl text-indigo-700 bg-indigo-100 h-10 w-10"
          >
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"
              ></path>
            </svg>
          </div>
          <div class="ml-2 font-bold text-2xl">Chat</div>
        </div>
        <div
          class="flex flex-col items-center bg-indigo-100 border border-gray-200 mt-4 w-full py-6 px-4 rounded-lg"
        >
          <div class="h-20 w-20 rounded-full border overflow-hidden">
            <img
              src="{% if user.perfil_image|file_exists %}{{user.perfil_image.url}}{% else %}{% static 'default-user.jpg' %}{% endif %}"
              alt="Avatar"
              class="h-full w-full"
            />
          </div>
          <div class="text-sm font-semibold mt-2">{{user.name}}</div>
          <div class="text-xs text-gray-500">{{user.description}}</div>
          <div class="flex flex-row items-center mt-3">
          </div>
        </div>
        <div class="flex flex-col mt-8">
          <div class="flex flex-row items-center justify-between text-xs">
            <span class="font-bold">Amigos</span>
            <span
              class="flex items-center justify-center bg-gray-300 h-4 w-4 rounded-full"
              >{{amigos|length}}</span
            >
          </div>
          <div class="flex flex-col space-y-1 mt-4 -mx-2 h-48 overflow-y-auto">
            {% for a in amigos %}
            {% if a.user1_id.id != user.id %}
            <button
              class="flex flex-row items-center hover:bg-gray-100 rounded-xl p-2"
            >
            {% if a.user1_id.perfil_image|file_exists %}
            <div
              class="flex items-center justify-center h-8 w-8 bg-indigo-200 rounded-full"
            >
              <img src="{{a.user1_id.perfil_image.url}}" />
            </div>
            {% else %}
            <div
              class="flex items-center justify-center h-8 w-8 bg-indigo-200 rounded-full"
            >
              {{a.user1_id.name|perfil_letter}}
            </div>
            {% endif %}
              <div class="ml-2 text-sm font-semibold">{{a.user1_id.name}}</div>
            </button>
            {% else %}
            <button
              class="flex flex-row items-center hover:bg-gray-100 rounded-xl p-2"
            >
              {% if a.user2_id.perfil_image|file_exists %}
              <div
                class="flex items-center justify-center h-8 w-8 bg-indigo-200 rounded-full"
              >
                <img src="{{a.user2_id.perfil_image.url}}" />
              </div>
              {% else %}
              <div
                class="flex items-center justify-center h-8 w-8 bg-indigo-200 rounded-full"
              >
                {{a.user2_id.name|perfil_letter}}
              </div>
              {% endif %}
              <div class="ml-2 text-sm font-semibold">{{a.user2_id.name}}</div>
            </button>
            {% endif %}
            {% endfor %}
          </div>
          <div class="flex flex-row items-center justify-between text-xs mt-6">
            <span class="font-bold">Solicitações</span>
            <span
              class="flex items-center justify-center bg-gray-300 h-4 w-4 rounded-full"
              >7</span
            >
          </div>
          <div class="flex flex-col space-y-1 mt-4 -mx-2">
            <button
              class="flex flex-row items-center hover:bg-gray-100 rounded-xl p-2"
            >
              <div
                class="flex items-center justify-center h-8 w-8 bg-indigo-200 rounded-full"
              >
                H
              </div>
              <div class="ml-2 text-sm font-semibold">Henry Boyd</div>
            </button>
          </div>
        </div>
      </div>
      <div class="flex flex-col flex-auto h-full p-6">
          {% csrf_token %}
          {%unicorn 'chat-msg' pk=pk my_id=my_id%}
      </div>
    </div>
  </div>
</body>
</html>