{% extends 'base.html' %}
{% block content %}
{%load static%}
{% load unicorn %}
  <div class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-100 h-full p-4">
    <div class="container mx-auto px-4 py-8 max-w-xl">
      <div class="flex flex-col items-center justify-center">
        <form class="flex flex-col" method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="font-bold" for="file_">Foto</label>
            <input type="file" name="file_" id="file_"/>
            <br />
            <input value="{{user.name}}" placeholder="Nome" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" type="text" name="name" />
            <br />
            <label class="font-bold" for="sobre">Sobre:</label>
            <textarea class="border mt-1 rounded p-5 w-full bg-gray-50 h-48" id="sobre" name="sobre">{{user.description}}
            </textarea>
            <br />
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 ml-2 rounded">Salvar</button>
        </form>
    </div>
    </div>
  </div>
{% endblock %}