{%load utils%}
<div>
    {% if error %}
    <br>
  <div class="flex">
    <div class="m-auto">
      <div class="bg-white rounded-lg border-gray-300 border p-3 shadow-lg">
        <div class="flex flex-row">
          <div class="px-2">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24" height="24" viewBox="0 0 122.879 122.879" enable-background="new 0 0 122.879 122.879" xml:space="preserve"><g><path fill-rule="evenodd" clip-rule="evenodd" fill="#FF4141" d="M61.44,0c33.933,0,61.439,27.507,61.439,61.439 s-27.506,61.439-61.439,61.439C27.507,122.879,0,95.372,0,61.439S27.507,0,61.44,0L61.44,0z M73.451,39.151 c2.75-2.793,7.221-2.805,9.986-0.027c2.764,2.776,2.775,7.292,0.027,10.083L71.4,61.445l12.076,12.249 c2.729,2.77,2.689,7.257-0.08,10.022c-2.773,2.765-7.23,2.758-9.955-0.013L61.446,71.54L49.428,83.728 c-2.75,2.793-7.22,2.805-9.986,0.027c-2.763-2.776-2.776-7.293-0.027-10.084L51.48,61.434L39.403,49.185 c-2.728-2.769-2.689-7.256,0.082-10.022c2.772-2.765,7.229-2.758,9.953,0.013l11.997,12.165L73.451,39.151L73.451,39.151z"/></g></svg>
          </div>
          <div class="ml-2 mr-6">
            <span class="font-semibold">{{error}}</span>
            <span class="block text-gray-500"> </span>
          </div>
        </div>
      </div>
    </div>
    
  </div><br>
  {% endif %}

    <input unicorn:model="search" type="text" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" placeholder="Nome" />
    <div class="flex flex-col items-start justify-center max-h-96 overflow-y-auto mt-5">
        {% for user_ in users %}
            <div class="flex flex-row align-center justify-center">
                {% if user_.perfil_image|file_exists %}
            <div
              class="flex items-center justify-center h-8 w-8 bg-indigo-200 rounded-full"
            >
            <a href="{% url 'profile_user' pk=user_.id %}">
              <img class="rounded-full h-8 w-8" src="{{user_.perfil_image.url}}" />
            </a>
            </div>
            {% else %}
            <a href="{% url 'profile_user' pk=user_.id %}">
              <div
              class="flex items-center justify-center h-8 w-8 bg-indigo-200 rounded-full"
            >
              {{user_.name|perfil_letter}}
            </div>
            </a>
            {% endif %}
                <span class="ml-2">{{user_.name}}</span>
                {% if user.id|check_friend:user_.id %}
                <div class="ml-2 text-center text-gray-600 text-md font-bold">
                  <p>Vocês já são amigos!</p>
                  </div>
                {% else %}
                <button unicorn:click="send({{user_.id}})" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 ml-2 rounded">Enviar</button>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
