.error{
    font-weight: bold;
    color: red;
}

@keyframes anime{
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(360deg)
    }
  }

  .spinner{
    animation: anime 2s linear infinite;
  }


  .button_menu{
    display: none;
  }

  @media screen and (max-width: 596px) {
    .button_menu{
      display: block;
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      color: black;
      font-size: 22px;
      margin-left: 7px;
    }
  
  }

  
.aside_anime_down{
  animation: aside_down 200ms ease-in-out;
}

.aside_anime_up{
  animation: aside_up 200ms ease-in-out;
}


@keyframes aside_down{
  from {
      left: 256px;
  }

  to {
    width: 0;
  }
}

@keyframes aside_up{
  from {
      width: 1px;
  }

  to {
    width: 256px;
  }
}



